$bg-color: #fff;
$body-bg-color: #f2f2f2;
$body-font-color: #000;
$body-font-size: 14px;
$body-font-height: 20px;


$mobile-widths-only: "(max-width: 767px)";
$tablet-widths-only: "(max-width: 1199px)";
$mobile-L-widths: "(min-width: 520px)";
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
