.user-note__title {
  margin-bottom: 16px;
  text-align: center;
}

.user-note__label {
  display: none;
}


.user-note__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 160px;
}

/* --------------- tablet ------------------ */
@media #{$tablet-widths} {
  .user-note {
    position: relative;
  }

  .user-note__title {
    position: absolute;
    top: 0;
    left: 50%;

    width: 400px;
    margin-bottom: 0;

    background-color: #fff;
    transform: translate(-50%, -50%);
  }
}
